%h1 React Calendar

%h3 Make a new appointment

= form_for @appointment, remote: true do |f|
  = f.text_field :title, label: 'title'
  = f.text_field :appt_time, label: 'time'
  = f.submit 'Make appointment'

#appointments
  = render 'appointments'


